.iconContainer {
    position: relative;
    margin-left: auto;
    margin-right: 15px;

}
.accountIcon:hover {
    color: lightgray;
}

.accountDropdown {
    z-index: 1;
    width: 150px;
    position: absolute;
    top:0px;
    left: 0px;
    padding-top: 40px;
}

.accountDropdownLink {
    border: none;
    background-color:  white;
    font-weight: 500;
    color: black;
    padding: 10px 0;
    width: 100%;
}

.accountDropdownLink:hover {
    background-color:#009FDB;
    color: white;
}
