.pageContainer {
    display: flex;
    flex-direction: column;

}

.innerContainer {
    display: flex;
    flex-direction: column;
    height: 150px;
}

.infoContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* --------------- */
.eventName {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-top: 34px;
}

.infoContainer {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 18px;
}

.infoContainerLeft {
    display: flex;
    justify-content: space-between;
    flex: 0.6;
    align-items: center;
}

.infoContainerRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.2;
}

.daysLeftText {
    text-align: left;
    padding: 5px;
    background: #151522;
    display: inline-block;
    color: white;
    margin: 0;
}

.price {
    margin-bottom: 5px;
    font-size: 2rem;
    font-weight: 300;
}

.perTicket {
    margin-top: 0;
    font-weight: 300;
}


.bottomContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #C3BDBD;
    border-radius: 1rem;
}

.leftBottomContainer {
    flex: 0.6;
    font-weight: 300;
}

.leftBottomContainer p{
    margin: 20px 0;
}

.title{
    font-weight: 500;
    color: #6D6D74;
}

.rightBottomContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.3;
    text-align: center;
}

.seller-details {
    flex:1;
    padding: 20px 0;
    background-color: #49EEDC;
}

.rightBottomContainer p{
    font-weight: bold;
}

.imgRightBottomSection {
    width: 50px;
}

.show-seller-details {
    background-color: #49EEDC !important;
    font-weight: bold !important;
}

.eventImgProfile {
    height: 350px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.pagePadding {
    padding: 0 5rem;
}

.city, .name{
    text-transform: capitalize;
}