#root {
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 15vh;
}

.category-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.category-item {
  border: 1px solid grey;
  font-weight: 500;
  border-radius: 20px;
  margin: 8px;
  padding: 5px 20px;

}

.category-item-clicked {
  background-color: black;
  color: white;
}

.category-item:hover {
  background-color: #999999;
  color: whitesmoke;
  cursor: pointer;
}


.tickets-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.Login {
  padding: 60px 0;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.Login input {
  margin: 10px 0;
  display: block;
  box-sizing: border-box;
}

.main-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./pics/homepagepic.png);
  height: 211px;
  left: 64px;
  top: 138px;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
}

header {
  display: flex;
  background-color: #030303;
  padding: 15px 5vw;
}

button {
  cursor: pointer;
}

.link-button:active {
  color: unset;
}

.sell-tickets-btn {
  padding: 8px 25px;
  color: white;
  border-radius: 3px;
  background-color: #555555;
}

.copyright-text {
  color: rgba(0, 0, 0, .7);
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}

footer {
  position: absolute;
  bottom: 0;
  background: #b9b9b9;
  text-align: center;
  width: 100%;
  height: 8vh;
}

.add-new-ticket {
  margin: 22px 0;
  padding: 8px 25px;
  font-size: larger;
  color: white;
  border-radius: 3px;
  background-color: #555555;
  height: fit-content;
}

.seller-dashboard-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 15%;
}

.header-log-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}

.login-btn {
  margin-left: auto;
  width: 85px;
}

.logout-btn {
  width: 160px;
}

.my-tickets-container h2 {
  font-family: Monaco;
  margin-left: 25%;
}

.loginSignupPage {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.verticalLine {
  border-left: 1px solid lightgray;
  align-self: center;
  height: 500px;
}

@media screen and (max-width: 1359px) {
  .tickets-container {
    width: 75%;
  }
}