.card {
    width: 230px;
    height: 280px;
    border: 1px solid lightgray;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px 20px;
}

.card-content {
    padding: 0 10px;
    position: relative;
}
.card:hover {
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 4px 6px 0 rgb(148, 148, 148);
}

.card:hover .eventImgContainer{
    background-color:rgb(231, 230, 230);
}

.card:hover .circle-icon{
    background-color:rgb(197, 196, 196);
}

.card > * {
    font-weight: 400;
    cursor: pointer;
}

.eventImgContainer {
    position: relative;
    text-align: center;
    height: 125px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
}

.eventImg {
    width: 90%;
}

.eventName {
    display: inline-flex;
    align-items: center;
    height: 43.2px;
}

.card-header {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.card-link, .card-link:focus,.card-link:hover,.card-link:visited,.card-link:link,.card-link:active {
    text-decoration: none;
    color: unset;
}

